<footer>
   <div class="footer-logo-wrapper">
      <img
         src="../assets/images/footer/footer_logo.png"
         alt="weborder logo blanco"
         loading="lazy"
      />
   </div>
   <div class="social-media-container">
      <a
         href="https://www.facebook.com/groups/weborderdev"
         target="_blank"
         rel="nofollow"
      >
         <img
            src="../assets/images/footer/footer_fb.png"
            alt="weborder icono facebook"
            loading="lazy"
         />
      </a>
      <a href="https://discord.gg/mwapbAPxYK" target="_blank" rel="nofollow">
         <img
            src="../assets/images/footer/footer_discord.png"
            alt="weborder icono grupo discord"
            loading="lazy"
         />
      </a>

      <img
         src="../assets/images/footer/footer_email.png"
         alt="weborder icono correo electronico"
         loading="lazy"
      />

      <a href="https://github.com/weborder-dev" target="_blank" rel="nofollow">
         <img
            src="../assets/images/footer/footer_gut.png"
            alt="weborder icono grupo github"
            loading="lazy"
         />
      </a>
   </div>
</footer>
