<div class="navigation scrolling">
   <img class="navigation__logo navigation__scroll-cta" scroll-to="landing-header" src="../assets/header_logo.png" />
   <div class="navigation__menu">
      <div id="menuToggle">
         <input type="checkbox" />
         <span></span>
         <span></span>
         <span></span>
         <ul id="menu">
            <a href="/index.html#landing-about"><li>¿Quiénes somos?</li></a>
            <a href="/index.html#landing-mission"><li>Misión y Visión</li></a>
            <a href="/meetups.html"><li class="nav-button">Meetups</li></a>
            <a href="/activities.html"><li class="nav-button">Actividades</li></a>
         </ul>
      </div>
   </div>
</div>