<div class="navigation">
   <a href ="/index.html#landing-cover">
      <img class="navigation__logo" src="../assets/images/header_logo.png" />
   </a>
   <div class="navigation__menu">
      <div id="menuToggle">
         <input type="checkbox" />
         <span></span>
         <span></span>
         <span></span>
         <ul id="menu">
            <a href="/index.html#landing-about"><li>¿Quiénes somos?</li></a>
            <a href="/index.html#landing-mission"><li>Misión y Visión</li></a>
            <a href="/meetups.html"><li class="nav-button">Meetups</li></a>
            <a href="/activities.html"><li class="nav-button">Actividades</li></a>
         </ul>
      </div>
   </div>
</div>
