<nav class="navigation">
   <div class="navigation__scroll-cta" scroll-to="landing-header">
      <img class="navigation__logo" src="../assets/header_logo.png" />
   </div>
   <ul class="navigation__link-container">
      <li class="navigation__scroll-cta" scroll-to="landing-about">
         ¿Quiénes somos?
      </li>
      <li class="navigation__scroll-cta" scroll-to="landing-mission">
         Misión y Visión
      </li>
      <li class="navigation__button"><a href="/meetups.html">Meetups</a></li>
      <li class="navigation__button"><a href="/activities.html">Actividades</a></li>
   </ul>
</nav>