<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>WeBorder Developers: Community site</title>
</head>

<body>
   <nav class="navigation">
      <div class="navigation__scroll-cta" scroll-to="landing-header">
         <img class="navigation__logo" src="../assets/header_logo.png" />
      </div>
      <ul class="navigation__link-container">
         <li class="navigation__scroll-cta" scroll-to="landing-about">
            ¿Quiénes somos?
         </li>
         <li class="navigation__scroll-cta" scroll-to="landing-mission">
            Misión y Visión
         </li>
         <li class="navigation__button"><a href="/meetups.html">Meetups</a></li>
         <li class="navigation__button"><a href="/activities.html">Actividades</a></li>
      </ul>
   </nav>
   <content></content>
</body>

</html>