<section class="activities">
   <div class="container">
      <h1 class="section-title">Log de actividades</h1>
      <div class="activities-list">
         <strong class="bracket">[</strong>
         <pre>
               <code>{ 
                     <span>date:</span> "Ago. 13 2022", 
                     <span>log:</span> "meetup", 
                     <span>author:</span> "Raul Ruiz", 
                     <span>url:</span> "https://youtube.com", 
                     <span>body:</span> "This is some description", 
                  },</code>
            </pre>
         <pre>
               <code>{ 
                     <span>date:</span> "Ago. 13 2022", 
                     <span>log:</span> "meetup", 
                     <span>author:</span> "Raul Ruiz", 
                     <span>url:</span> "https://youtube.com", 
                     <span>body:</span> "This is some description", 
                  },</code>
            </pre>
         <pre>
               <code>{ 
                     <span>date:</span> "Ago. 13 2022", 
                     <span>log:</span> "meetup", 
                     <span>author:</span> "Raul Ruiz", 
                     <span>url:</span> "https://youtube.com", 
                     <span>body:</span> "This is some description", 
                  },</code>
            </pre>
         <strong class="bracket bracket--end">]</strong>
      </div>
   </div>
</section>
