<div class="landing">
   <section id="landing-cover">
      <div class="container">
         <div id="cover-copy">
            <h1>Creando<br />comunidad</h1>
            <p>
               Buscamos generar y compartir conocimiento para 
               fortalecer al área del borderplex en
               matería de programación y tecnología. ¡Únete en nuestras redes!
            </p>
            <a
               href="https://www.youtube.com/@weborderdevelopers6446/playlists"
               target="_blank"
               rel="nofollow"
            >
               <img
                  src="../assets/images/home/button-youtube.png"
                  alt="weborder icono youtube morado"
                  loading="lazy"
               />
            </a>
            <a
               href="https://www.facebook.com/groups/weborderdev"
               target="_blank"
               rel="nofollow"
            >
               <img
                  src="../assets/images/home/button-facebook.png"
                  alt="weborder icono facebook morado"
                  loading="lazy"
               />
            </a>
            <a
               href="https://www.instagram.com/weborder_devs/"
               target="_blank"
               rel="nofollow"
            >
               <img
                  src="../assets/images/home/button-insta.png"
                  alt="weborder icono instagram morado"
                  loading="lazy"
               />
            </a>
            <a
               href="https://discord.gg/mwapbAPxYK"
               target="_blank"
               rel="nofollow"
            >
               <img
                  src="../assets/images/home/button-discord.png"
                  alt="weborder icono grupo discord"
                  loading="lazy"
               />
            </a>
         </div>
      </div>
   </section>

   <section id="landing-about">
      <div class="container">
         <div class="section-header-text">
            <h2>¿Quiénes somos?</h2>
            <p>
               Somos una comunidad de habla hispana de profesionales y
               entusiastas por el desarrollo web. Nuestra comunidad nace (pero no se limita) en la
               zona del borderplex que abarca Ciudad Juárez, El Paso y Las
               Cruces.
            </p>
         </div>
         <div class="about-cards">
            <div class="about-card">
               <img
                  class="card-image"
                  src="../assets/images/home/about_card_01.png"
                  alt=""
               />
               <img
                  class="card-icon"
                  src="../assets/images/home/about_icon_01.png"
                  alt=""
               />
               <p>Adquiere + habilidades</p>
            </div>
            <div class="about-card">
               <img
                  class="card-image"
                  src="../assets/images/home/about_card_02.png"
                  alt=""
               />
               <img
                  class="card-icon"
                  src="../assets/images/home/about_icon_02.png"
                  alt=""
               />
               <p>Conecta con desarrolladores</p>
            </div>
            <div class="about-card">
               <img
                  class="card-image"
                  src="../assets/images/home/about_card_03.png"
                  alt=""
               />
               <img
                  class="card-icon"
                  src="../assets/images/home/about_icon_03.png"
                  alt=""
               />
               <p>Colabora con la comunidad</p>
            </div>
         </div>
      </div>
   </section>

   <section id="landing-mission">
      <div class="container">
         <div class="mission-element">
            <div class="mission-text">
               <h2>Misión</h2>
               <p>
                  Crear redes de colaboración de profesionales del desarrollo
                  web a través de eventos, en los cuales se comparte información 
                  y conocimientos que ayudan al desarrollo de las habilidades de 
                  todos los miembros de nuestra comunidad.
               </p>
            </div>
            <div class="mission-img">
               <img src="../assets/images/home/about_mision.png" alt="" />
            </div>
         </div>
         <div class="mission-element">
            <div class="mission-img">
               <img src="../assets/images/home/about_vision.png" alt="" />
            </div>
            <div class="mission-text">
               <h2>Visión</h2>
               <p>
                  Convertir a WeBorder en una de las comunidades de mayor 
                  relevancia en México, donde los miembros 
                  adquieran nuevas habilidades y formen las conexiones humanas
                  necesarias que ayuden con su desarrollo personal, logrando así 
                  tanto el éxito individual como el colectivo.
               </p>
            </div>
         </div>
      </div>
   </section>

   <section id="landing-meetups">
      <div class="container margin-bottom">
         <div class="section-header-text">
            <h2>Meetups</h2>
            <p>
               Organizamos eventos, en línea o presenciales, donde expertos comparten su conocimiento sobre programación, tecnología y emprendimiento.
            </p>
         </div>
      </div>
      <section class="intro container">
         <div class="next-meetup-wrapper"> 
            <img
               class="purple-screen"
               src="../assets/images/meetups/screen_purple.png"
               alt="pantalla morada"
            />
            <img
               class="white-screen"
               src="../assets/images/meetups/Screen_white.png"
               alt="pantalla blanca"
            />
            <div id="next-meetup" class="next-meetup">
               <img
                  class="screw"
                  src="../assets/images/meetups/screw.png"
                  alt="tornillo 1"
               />
               <img
                  class="screw-bottom"
                  src="../assets/images/meetups/screw.png"
                  alt="tornillo 2"
               />
               <img
                  id="next-meetup-sign"
                  class="next-meetup-sign"
                  src="../assets/images/meetups/meetup.png"
                  alt="siguiente meetup"
               />
               <div>
                  <div class="left-container">
                     <div class="circle-ripple circle-ripple--lg"></div>
                     <div class="circle-ripple circle-ripple--md"></div>
                     <div class="circle-ripple circle-ripple"></div>
                     <div class="circle-container">
                        <img
                           src="https://via.placeholder.com/200"
                           alt="imagen del expositor"
                           id="next-meetup-image"
                        />
                     </div>
                  </div>
               </div>
               <div class="next-meetup-text">
                  <h1 id="next-meetup-body"></h1>
                  <h2 id="next-meetup-author"></h2>
                  <h3 id="next-meetup-date"></h2>
               </div>
            </div>
   
         </div>
      </section>

   </section>
</div>
