<div class="landing">
   <section id="landing-cover">
      <div class="container">
         <div id="cover-copy">
            <h1>Creando<br />comunidad</h1>
            <p>
               Somos un grupo de desarrolladores quienes buscan generar y
               compartir conocimiento para fortalecer al área del borderplex en
               matería de programación y tecnología.
            </p>
            <a
               href="https://www.facebook.com/groups/weborderdev"
               target="_blank"
               rel="nofollow"
            >
               <img
                  src="../assets/images/home/button-facebook.png"
                  alt="weborder icono facebook morado"
                  loading="lazy"
               />
            </a>
            <a
               href="https://discord.gg/mwapbAPxYK"
               target="_blank"
               rel="nofollow"
            >
               <img
                  src="../assets/images/home/button-discord.png"
                  alt="weborder icono grupo discord"
                  loading="lazy"
               />
            </a>
         </div>
      </div>
   </section>

   <section id="landing-about">
      <div class="container">
         <div class="about-text">
            <h2>¿Quiénes somos?</h2>
            <p>
               Somos una comunidad de habla hispana de profesionales y
               entusiastas por el desarrollo web. Nuestra comunidad nace en la
               zona del borderplex que abarca Ciudad Juárez, El Paso y Las
               Cruces.
            </p>
         </div>
         <div class="about-cards">
            <div class="about-card">
               <img
                  class="card-image"
                  src="../assets/images/home/about_card_01.png"
                  alt=""
               />
               <img
                  class="card-icon"
                  src="../assets/images/home/about_icon_01.png"
                  alt=""
               />
               <p>Adquiere + habilidades</p>
            </div>
            <div class="about-card">
               <img
                  class="card-image"
                  src="../assets/images/home/about_card_02.png"
                  alt=""
               />
               <img
                  class="card-icon"
                  src="../assets/images/home/about_icon_02.png"
                  alt=""
               />
               <p>Conecta con desarrolladores</p>
            </div>
            <div class="about-card">
               <img
                  class="card-image"
                  src="../assets/images/home/about_card_03.png"
                  alt=""
               />
               <img
                  class="card-icon"
                  src="../assets/images/home/about_icon_03.png"
                  alt=""
               />
               <p>Colabora con la comunidad</p>
            </div>
         </div>
      </div>
   </section>

   <section id="landing-mission">
      <div class="container">
         <div class="mission-element">
            <div class="mission-text">
               <h2>Misión</h2>
               <p>
                  Crear redes de colaboración de profesionales del desarrollo
                  web de habla hispana, a través de eventos en los cuales
                  compartimos información y conocimientos que ayudan al
                  desarrollo de las habilidades de los miembros de nuestra
                  comunidad.
               </p>
            </div>
            <div class="mission-img">
               <img src="../assets/images/home/about_mision.png" alt="" />
            </div>
         </div>
         <div class="mission-element">
            <div class="mission-img">
               <img src="../assets/images/home/about_vision.png" alt="" />
            </div>
            <div class="mission-text">
               <h2>Visión</h2>
               <p>
                  Ser una de las comunidades más importantes de profesionistas
                  del desarrollo Web, en paises de habla hispana. Asímismo,
                  influenciar de manera positiva en la sociedad a través de
                  proyectos desarrollados dentro de la misma comunidad.
               </p>
            </div>
         </div>
      </div>
   </section>

   <section id="landing-meetups">
      <h1>Meetups!</h1>
   </section>
</div>
