<div class="landing">
   <section id="landing-cover">
      <div class="container">
         <div id="cover-copy">
            <h1>Creando<br>comunidad</h1>
            <p>
               Somos un grupo de desarrolladores quienes buscan generar y compartir conocimiento para fortalecer al área del borderplex en matería de programación y tecnología.
            </p>
            <img src="../assets/images/home/button-facebook.png" />
            <img src="../assets/images/home/button-discord.png" />
         </div>
      </div>
   </section>

   <section id="landing-about">
      <h1>About!</h1>
   </section>

   <section id="landing-mission">
      <h1>Mission!</h1>
   </section>

   <section id="landing-meetups">
      <h1>Meetups!</h1>
   </section>
</div>