<div class="meetups">
   <section class="intro container">
      <div class="container">
         <h1 class="section-title">Meetups</h1>
         <p>
            Nos interesa compartir conocimiento con toda nuestra comunidad, en
            esta pagina ustedes pueden encontrar el listado completo de todos
            los meetups que hemos realizado.
         </p>   
      </div>
      <div class="next-meetup-wrapper"> 
         <img
            class="purple-screen"
            src="../assets/images/meetups/screen_purple.png"
            alt="pantalla morada"
         />
         <img
            class="white-screen"
            src="../assets/images/meetups/Screen_white.png"
            alt="pantalla blanca"
         />
         <div id="next-meetup" class="next-meetup">
            <img
               class="screw"
               src="../assets/images/meetups/screw.png"
               alt="tornillo 1"
            />
            <img
               class="screw-bottom"
               src="../assets/images/meetups/screw.png"
               alt="tornillo 2"
            />
            <img
               id="next-meetup-sign"
               class="next-meetup-sign"
               src="../assets/images/meetups/meetup.png"
               alt="siguiente meetup"
            />
            <div>
               <div class="left-container">
                  <div class="circle-ripple circle-ripple--lg"></div>
                  <div class="circle-ripple circle-ripple--md"></div>
                  <div class="circle-ripple circle-ripple"></div>
                  <div class="circle-container">
                     <img
                        src="https://via.placeholder.com/200"
                        alt="imagen del expositor"
                        id="next-meetup-image"
                     />
                  </div>
               </div>
            </div>
            <div class="next-meetup-text">
               <h1 id="next-meetup-body"></h1>
               <h2 id="next-meetup-author"></h2>
               <h3 id="next-meetup-date"></h2>
            </div>
         </div>

      </div>
      
   </section>
   <section class="previous-meetups">
      <div class="container">
         <h1 class="section-title">Meetups anteriores</h1>
         <div class="meetups-list">
            <strong class="bracket">[</strong>
            <div id="list"></div>
            <strong class="bracket bracket--end">]</strong>
         </div>
      </div>
   </section>
   <section class="more-events">
      <div class="container">
         <h1 class="section-title">¡Entérate de más eventos!</h1>
         <div class="button-container">
            <button class="wb-button wb-button--secondary">
               Calendario completo
            </button>
         </div>
      </div>
      <img src="../assets/images/meetups_icon.png" alt="icono de meetups" />
   </section>
</div>
