<div class="meetups">
   <section class="intro container">
      <div class="container">
         <h1 class="section-title">Meetups</h1>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
            convallis id lacus et pharetra. Ut id aliquam massa. Aliquam vitae
            purus eget ipsum porttitor eleifend. Vestibulum congue, purus et
            tincidunt feugiat, dolor quam dapibus tellus, a iaculis sem ante in
            sem. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Nulla placerat id felis vel porttitor. Morbi
            vitae laoreet arcu. Nunc efficitur efficitur lobortis.
         </p>
         <div>
            <button class="wb-button">Presenciales</button>
            <button id="virtual-btn" class="wb-button">Virtuales</button>
         </div>
      </div>
      <div class="next-meetup">
         <img
            class="screw"
            src="https://via.placeholder.com/20"
            alt="tornillo 1"
         />
         <img
            class="screw-bottom"
            src="https://via.placeholder.com/20"
            alt="tornillo 2"
         />
         <div>
            <div class="left-container">
               <div class="circle-ripple circle-ripple--lg"></div>
               <div class="circle-ripple circle-ripple--md"></div>
               <div class="circle-ripple circle-ripple"></div>
               <div class="circle-container">
                  <img
                     src="https://via.placeholder.com/200"
                     alt="imagen del expositor"
                  />
               </div>
            </div>
         </div>
         <div class="next-meetup-text">
            <h1 id="meetup-body">Migrando a React</h1>
            <h2 id="meetup-author">Raul Ruiz</h2>
         </div>
      </div>
   </section>
   <section class="previous-meetups">
      <div class="container">
         <h1 class="section-title">Meetups anteriores</h1>
         <div class="meetups-list">
            <strong class="bracket">[</strong>
            <pre>
               <code>{ 
                     <span>date:</span> "Ago. 13 2022", 
                     <span>log:</span> "meetup", 
                     <span>author:</span> "Raul Ruiz", 
                     <span>url:</span> "https://youtube.com", 
                     <span>body:</span> "This is some description", 
                  },</code>
            </pre>
            <pre>
               <code>{ 
                     <span>date:</span> "Ago. 13 2022", 
                     <span>log:</span> "meetup", 
                     <span>author:</span> "Raul Ruiz", 
                     <span>url:</span> "https://youtube.com", 
                     <span>body:</span> "This is some description", 
                  },</code>
            </pre>
            <pre>
               <code>{ 
                     <span>date:</span> "Ago. 13 2022", 
                     <span>log:</span> "meetup", 
                     <span>author:</span> "Raul Ruiz", 
                     <span>url:</span> "https://youtube.com", 
                     <span>body:</span> "This is some description", 
                  },</code>
            </pre>
            <strong class="bracket bracket--end">]</strong>
         </div>
      </div>
   </section>
   <section class="more-events">
      <div class="container">
         <h1 class="section-title">¡Entérate de más eventos!</h1>
         <div class="button-container">
            <button class="wb-button wb-button--secondary">
               Calendario completo
            </button>
         </div>
      </div>
      <img src="../assets/images/meetups_icon.png" alt="icono de meetups" />
   </section>
</div>
