@use './variables.scss' as var;

footer {
   background-color: #6a15ac;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem 0 3rem 0;

   a {
      outline: none;
      text-decoration: none;
      border: none;
   }

   .footer-logo-wrapper {
      margin-bottom: 2rem;

      img {
         max-width: 100%;
      }
   }

   .social-media-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
         margin-right: 1rem;
      }
   }
}
