.landing {

   &__cover {
      display: flex;
      align-items: center;
      overflow: hidden;

      #cover-copy {
         flex: 2;
         flex-shrink: 0;
         p {
            font-size: 1.3rem;
            line-height: 1.5rem;
            max-width: 500px;
         }
      }

      #cover-illustrations {
         flex: 3;
         background-image: url(../assets/images/home/home-cover-background.png);
         background-repeat: no-repeat;
         background-position-x: left;
         text-align: right;
      }
   }
}