@use './variables.scss' as var;

.landing {

   section {
      min-height: 400px;
   }

   &__cover {
      position: relative;
      overflow: hidden;
      background-color: #ededed;

      #cover-copy {
         width: min(100%, 500px);
         padding-top: 9rem;
         p {
            font-size: 1.2rem;
            line-height: 1.5rem;
         }
      }
   }

   @media screen and (min-width: var.$resolution-medium) {
      &__cover {
         &::before {
            width: 60%;
            height: 100%;
            position: absolute;
            left: 40%;
            content: '';
            background-image: url(../assets/images/home/home-cover-background.png), linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 400px, #3a09b3 400px, #3a09b3 100%);
            background-repeat: no-repeat;
            background-position-x: left;
            background-size: auto 100%;
            z-index: 0;
         }

         &::after {
            width: 45%;
            height: 100%;
            position: absolute;
            left: 55%;
            top: 0;
            content: '';
            background-image: url(../assets/images/home/home-cover-robot.png);
            background-repeat: no-repeat;
            background-position-x: left;
            background-size: auto 100%;
            z-index: 1;
         }

         #cover-copy {
            padding-top: 12rem;
            padding-bottom: 6rem;
            z-index: 1;
         }
      }
   }
}