.landing {

   // these styles are added just for testing purposes, feel free to remove them
   h1 {
      font-size: 5rem;
      color: blue;
   }

   section {
      width: 100%;
      height: 100vh;
   }

   // end
}