@use './variables.scss' as var;

.landing {
   section {
      min-height: 400px;
   }

   #landing-cover {
      position: relative;
      overflow: hidden;
      background-color: #ededed;

      #cover-copy {
         width: min(100%, 500px);
         padding-top: 9rem;
         padding-bottom: var.$section-spacing;
         p {
            font-size: 1.2rem;
            line-height: 1.5rem;
         }
      }
   }

   @media screen and (min-width: var.$resolution-medium) {
      #landing-cover {
         &::before {
            width: 60%;
            height: 100%;
            position: absolute;
            left: 40%;
            content: '';
            background-image: url(../assets/images/home/home-cover-background.png),
               linear-gradient(
                  90deg,
                  rgba(255, 255, 255, 0) 0%,
                  rgba(255, 255, 255, 0) 400px,
                  #3a09b3 400px,
                  #3a09b3 100%
               );
            background-repeat: no-repeat;
            background-position-x: left;
            background-size: auto 100%;
            z-index: 0;
         }

         &::after {
            width: 45%;
            height: 100%;
            position: absolute;
            left: 55%;
            top: 0;
            content: '';
            background-image: url(../assets/images/home/home-cover-robot.png);
            background-repeat: no-repeat;
            background-position-x: left;
            background-size: auto 100%;
            z-index: 1;
         }

         #cover-copy {
            padding-top: 12rem;
            padding-bottom: var.$section-spacing-lg;
            z-index: 1;
         }
      }
   }

   /* Mission */

   #landing-mission{
      background-color: var.$gray-background;
      padding: var.$section-spacing 0;

      .mission-element{ 
         display: flex;
         flex-direction: column;

         &:first-child{
            margin-bottom: 5rem;
         }

         @media screen and (min-width: var.$resolution-large) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between; 
         }
         
         & > * {
            flex-basis: calc(50% - 1rem);
         }

         .mission-img{
            display: flex;
            justify-content: center;  

            @media screen and (max-width: var.$resolution-large) {
               order: 1;
               margin-bottom: 3rem;
            }
         }
         
         .mission-text{
            font-size: 1.2rem;
            line-height: 1.8rem; 
            h2{
               font-size: 2rem;
               padding-bottom: 1rem;
               font-family: 'Gordita Semibold';
                 color: var.$color-primary;
            }

            @media screen and (max-width: var.$resolution-large) {
               order: 2;
               text-align: center;
            }
         }
         
      }
   }
}
