@use './variables.scss' as var;

$spacing: 300px;
$spacing-lg: 250px;

.meetups {
   .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      padding: 8rem 0 0;

      .container {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .section-title {
         margin-bottom: 32px;
      }

      p {
         max-width: 600px;
         margin-bottom: 32px;
         line-height: 1.4rem;
      }

      #virtual-btn {
         margin-left: 1em;
      }
      .purple-screen,
      .white-screen {
         display: none;
      }
   }
   .next-meetup-wrapper {
      position: relative;
      bottom: 0;
      transform: none;
   }
   .next-meetup {
      overflow: hidden;
      background: rgb(166, 166, 166);
      background: linear-gradient(
         173deg,
         rgba(166, 166, 166, 1) 0%,
         rgba(26, 198, 255, 1) 0%,
         rgba(15, 166, 215, 1) 74%,
         rgba(20, 94, 130, 1) 100%
      );
      border: 3px solid var.$color-dark;
      box-shadow: 0 0 0 2px var.$color-light;

      padding: 64px 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .left-container {
         position: relative;
      }

      .circle-ripple {
         width: 225px;
         height: 225px;
         border-radius: 50%;
         background-color: var.$color-light;
         border: 10px solid var.$color-secondary;
         box-shadow: 0 0 0 2px var.$color-light;
         box-sizing: content-box;
         position: absolute;
         z-index: 1;
         left: 50%;
         top: 50%;
         transform: translate3d(-50%, -50%, 0);

         &--md {
            width: 285px;
            height: 285px;
            background-color: var.$color-secondary;
            border: 2px solid var.$color-light;
            box-shadow: none;
            opacity: 70%;
         }

         &--lg {
            width: 265px;
            height: 265px;
            opacity: 30%;
            border: 40px solid var.$color-secondary;
         }
      }

      .circle-container {
         z-index: 2;
         position: relative;
      }

      .next-meetup-text {
         z-index: 2;
         position: relative;
         margin-top: 40px;
      }

      h1 {
         text-align: center;
         line-height: 1.3em;
         color: var.$color-primary;
         text-shadow: -1px 1px 0 var.$color-light, 1px 1px 0 var.$color-light,
            1px -1px 0 var.$color-light, -1px -1px 0 var.$color-light;
      }

      h2 {
         text-align: center;
         margin-top: 16px;
         font-size: 1.5rem;
      }

      h3 {
         text-align: center;
         margin-top: 16px;
         font-size: 1rem;
      }

      .screw {
         display: block;
         position: absolute;
         top: 1rem;
         left: 1rem;
         width: 50px;
         z-index: 2;
      }
      .screw-bottom {
         display: block;
         position: absolute;
         bottom: 1rem;
         left: 1rem;
         z-index: 2;
         width: 50px;
         transform: rotate(90deg);
      }

      .next-meetup-sign {
         display: block;
         position: absolute;
         bottom: 1rem;
         right: 1rem;
         z-index: 2;
         width: 150px;
      }
   }

   .previous-meetups {
      background-color: var.$color-dark-blue;
      padding-top: var.$section-spacing;
      padding-bottom: var.$section-spacing;

      .container {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .section-title {
         color: var.$color-light;
         flex-shrink: 0;
         width: 100%;
         max-width: 730px;
         margin-top: 1rem;
         margin-bottom: 3rem;
      }

      .meetups-list {
         flex-shrink: 0;
         width: 100%;
         max-width: 730px;
         border-left: 2px solid var.$color-secondary;
         padding: 1px 0 0 1rem;
      }

      .bracket {
         color: var.$color-secondary;
         display: block;
         margin-top: 2px;
         margin-bottom: 1rem;

         &--end {
            margin-top: 1rem;
            margin-bottom: 0;
         }
      }

      pre {
         background-color: var.$color-medium-blue;
         color: var.$color-light;
         margin-bottom: 1rem;
         white-space: pre-line;
         padding: 1rem;
         line-height: 1rem;
         font-family: 'Gordita';

         span {
            color: var.$color-secondary;
            margin-left: 16px;
            margin-top: 8px;
            display: inline-block;
         }

         a {
            color: var.$color-yellow;
         }
      }
   }

   .more-events {
      background-color: var.$color-yellow;
      padding: var.$section-spacing 0;
      position: relative;

      h1,
      .button-container {
         width: 70%;
      }

      img {
         width: 100px;

         position: absolute;
         top: 0;
         right: 1rem;
      }

      .container {
         text-align: center;
      }

      .section-title {
         margin-bottom: 2rem;
         line-height: 2.5rem;
      }
   }

   @media screen and (min-width: var.$resolution-medium) {
      .intro {
         padding-top: 10rem;
         .container {
            padding-bottom: $spacing-lg;
         }
      }
      .next-meetup-wrapper {
         position: absolute;
         transform: translate3d(0, 50%, 0);

         .purple-screen {
            z-index: 1;
            display: block;
            position: absolute;
            left: -50px;
            bottom: 25%;
         }
         .white-screen {
            z-index: 1;
            display: block;
            position: absolute;
            right: -100px;
            top: -35px;
         }
      }
      .next-meetup {
         flex-direction: row;
         z-index: 3;
         position: relative;
         max-width: 800px;

         .left-container {
            margin-right: 40px;
         }

         h1,
         h2,
         h3 {
            text-align: left;
         }

         .screw {
            top: 10%;
            left: 35%;
         }
         .screw-bottom {
            bottom: 26%;
            right: 10%;
            left: initial;
         }
      }
      .previous-meetups {
         padding-bottom: var.$section-spacing-lg;

         .container {
            padding-top: $spacing-lg;
         }

         .section-title {
            margin-top: 0;
         }
      }
      .more-events {
         padding: var.$section-spacing-lg 0;
         position: relative;

         .container {
            max-width: 730px;
         }

         h1,
         .button-container {
            width: 60%;
         }

         img {
            width: 270px;
            position: absolute;
            top: 0;
            right: initial;
            left: 50%;
            transform: translate3d(110px, 0, 0);
         }
      }
   }
}
