@use './colors.scss'as colors;

.navigation {
   // background: colors.$demo-color;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 2em 0;
   position:fixed;
   width: 100%;
   color: white;
   font-size: 1.15em;
   z-index: 1;

   &__logo {
      pointer-events: none;
   }

   &__link-container {
      display: flex;

      li {
         margin-right: 2em;
         padding: 1em 0;
         font-family: 'Gordita Bold';
         cursor: pointer;
      }

      li:last-child {
         margin-right: 0;
      }
   }

   &__button {
      margin-right: 1em !important;
      a {
         height: 3em;
         position: relative;
         padding: 1.2em 1em !important;
         color: black;
         text-decoration: none;
         z-index: 1;

         &::before {
            display: block;
            position: absolute;
            content: " ";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: black;
            z-index: -2;
            clip-path: polygon(0 0, 100% 7%, 92% 98%, 5% 100%);
         }

         &::after {
            display: block;
            position: absolute;
            content: " ";
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            top: 3px;
            left: 3px;
            background: white;
            z-index: -1;
            clip-path: polygon(0 0, 100% 7%, 92% 98%, 5% 100%);
         }
      }
   }
}