@use './colors.scss' as colors;

.navigation {
  background: colors.$demo-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;

  img {
    pointer-events: none; // this is to prevent propagation issues with click event
  }

  ul {
    display: flex;
  }

  li {
    margin-right: 1rem;
    padding: 1rem 0;
    cursor: pointer;
  }
}
