// Resolution variables
$resolution-large: 1280px;
$resolution-medium: 960px;
// Color variables
$color-primary: #6c0ab3; // Logo's purple color
$color-secondary: #1ac6ff; // Logo's blue color
$color-dark: #000; // Blacks
$color-light: #fff; // Whites

$gray-background:#f1f1f1;
$color-medium-blue: #1a194a;
$color-dark-blue: #0f0f24;

$color-yellow: #ffc61a;

// spacing
$section-spacing: 4rem;
$section-spacing-lg: 6rem;
