// Resolution variables
$resolution-large: 1280px;
$resolution-medium: 960px;
// Color variables
$color-primary: #6c0ab3; // Logo's purple color
$color-secondary: #1ac6ff; // Logo's blue color
$color-dark: #000; // Blacks
$color-dark-blue: #0f0f24; // dark blue
$color-light: #fff; // Whites
